[Unit]
Description=Prusa Cam
After=network-online.target

[Service]
ExecStart=/home/pi/prusa-cam/prusa-cam
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
